

/* Background Image */
body {   
    
    max-width: 1000px;
    background-image: url(../img/pierportBeachSouth.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: auto;
    background-color: rgb(53, 39, 12);
}
/* header */
header {
    min-height:75px;
}

/* navigation options in header */
.navBar {
    background-color: rgba(202, 167, 12, .5);
    padding: 15px;
    
}
nav a {
    background-color: rgba(0,0,0,.75);
    color: rgb(216, 215, 215);
    padding: 10px;
    /* border-radius: 25px; */
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    
    display: inline; 
}

/* Site Title */
#title {
    color: white;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    padding: 0px;
    margin: 0px;   
        }

/* First Main Div */

#topDiv {
    /* display: flex; */
    display: block;
    flex-wrap: no-wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
    color: black;
    border-radius: 25px;
}
/* image in first main div */
#pierportHistorical{   
    width: 75%;
    padding: 1%;
        }

/* text blocks in first main div */
#topDiv p {
    padding:1%;
    margin: auto;
    width: 80%;
    text-align: left; 
}

/* second main division */

#bottomDiv {
    /* display: flex; */
   display: block;
    text-align: center;
    justify-content: safe;
    background-color: rgba(0,0,0,.5);
    padding: 1%;
}

/*video in second main division */
#videoOne {


}
/* slideshow */
#slideShow {
  width: 66%;
}

/* footer */

footer {
    position: relative;
    right:0;
    bottom:0;
    left:0;
    padding: 1rem;
    background: rgba(202, 167, 12, .5);
}

/* media queries */



@media only screen and (min-width: 480px) {
    
    #navList{
    display: flex;
     }
     #pierportHistorical {
       width: 50%;
     }

}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
    
    #pierportHistorical{   
    width: 33%;
    padding: 2%;
        }

     #topDiv {
       display:flex;
     }
     #topDiv p {

       width:90%;
       padding: 5%;
     }}


 @viewport{
     zoom: 1.0;
     width: extend-to-zoom;
     
 }
 @-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;

 }