

body {   
    background-image: url(../img/pierportBeachSouth.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgb(53, 39, 12);
}

#pierportSiteTitle {
    color: white;
    font-family: 'Playfair Display SC', serif;

}

/* #hamburgermenu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
} */

img{
    width: 30%;
    height: 20%;
    padding: 10px;
}
#navBarOne {
    background-color: rgba(202, 167, 12, .5);
    padding: 15px;
}
nav a {
     background-color: rgba(0,0,0,.75);
     color: rgb(216, 215, 215);
     padding: 10px;
     border-radius: 25px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {

    display: inline;
  

}


#firstDivOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
    margin: 50px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

#firstDivOne P {
    padding:10px;
    width: 30%;
}

#videoOne {
    justify-content: center;
}

footer {
    position: relative;
    right:0;
    bottom:0;
    left:0;
    padding: 1rem;
    background: rgba(202, 167, 12, .5);
}

@media (max-width: 480px) {



	nav li {

		text-align: center;
		width: 100%;
		padding:0;
		margin: 0;

	}


    #firstDivOne{
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0;
    
    }
    
    #firstDivOne p {
      padding: 5%;
      margin: 0;
      background-color: rgba(202,167,12,.5);
      justify-content: center;
      width: 90%;
    }
    
    
    }